<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="opiniones-list">
  <template>
    <style>
      li {
        cursor: pointer;
      }
    </style>

    <ul>
      <template is="dom-repeat" items="[[opiniones]]" as="opiniones">
        <li>
          <div>
            <h1>[[opiniones.email]] ([[opiniones.name]])</h1>
            <h3>[[opiniones.body]]</h3>
          </div>

          <p><a>id del comentario : [[opiniones.id]]</a></p>
        </li>
      </template>
  </ul>
  </template>

  <script>
    class OpinionesList extends Polymer.Element {
      static get is() {
        return 'opiniones-list';
      }

      static get properties() {
        return {
          opiniones: {
            type: Array,
            value: []
          }
        };
      }

      connectedCallback() {
        super.connectedCallback();
      }


    }

    customElements.define(OpinionesList.is, OpinionesList);
  </script>
</dom-module>
