<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="opiniones-dm">
  <template>
    <style></style>

    <cells-generic-dp
      id="opinionesDP"
      host="https://jsonplaceholder.typicode.com"
      path="posts/1/comments"
      method="GET">
    </cells-generic-dp>
  </template>

  <script>
    class OpinionesDM extends Polymer.Element {
      static get is() {
        return 'opiniones-dm';
      }

      static get properties() {
        return {
          loaded: {
            type: Boolean,
            value: false
          }
        };
      }

      connectedCallback() {
        super.connectedCallback();

        this.addEventListener('request-success', e => this._opinionesLoaded(e));
      }

      disconnectedCallback() {
        super.disconnectedCallback();

        this.removeEventListener('request-success', this._opinionesLoaded);
      }

      loadOpiniones() {
        if (this.get('loaded')) {
          return;
        }

        this.dispatchEvent(new CustomEvent('opiniones-loading-start', { detail: true }));

        this.$.opinionesDP.generateRequest();
      }

      _opinionesLoaded(event) {
        const opiniones = event.detail;

        this.dispatchEvent(new CustomEvent('opiniones-loading-finish', { detail: false }));
        this.dispatchEvent(new CustomEvent('opiniones-loaded', { detail: opiniones }));

        this.set('loaded', true);
      }
    }

    customElements.define(OpinionesDM.is, OpinionesDM);
  </script>
</dom-module>
