<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="acounts-dm">
  <template>
    <style></style>

    <cells-generic-dp
      id="accountsDP"
      host="http://private-anon-7b33940e93-apsandbox.apiary-mock.com/api/"
      path="accounts"
      method="GET">

    </cells-generic-dp>
  </template>

  <script>
    class AccountsDM extends Polymer.Element {
      static get is() {
        return 'accounts-dm';
      }

      static get properties() {
        return {
          loaded: {
            type: Boolean,
            value: false
          }
        };
      }

      connectedCallback() {
        super.connectedCallback();

        this.addEventListener('request-success', e => this._accountsLoaded(e));
      }

      disconnectedCallback() {
        super.disconnectedCallback();

        this.removeEventListener('request-success', this._accountsLoaded);
      }

      loadAccounts() {
        debugger
        if (this.get('loaded')) {
          return;
        }

        this.dispatchEvent(new CustomEvent('accounts-loading-start', { detail: true }));

        this.$.accountsDP.generateRequest();
      }

      _accountsLoaded(event) {
        const accounts = event.detail;

        this.dispatchEvent(new CustomEvent('acounts-loading-finish', { detail: false }));
        this.dispatchEvent(new CustomEvent('accounts-loaded', { detail: acounts }));

        this.set('loaded', true);
      }
    }

    customElements.define(AccountsDM.is, AccountsDM);
  </script>
</dom-module>
