<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="accounts-list">
  <template>
    <style>
      li {
        cursor: pointer;
      }
    </style>

    <ul>
      <template is="dom-repeat" items="[[users]]" as="user">
        <li>
          <div on-click="_accountClicked">
            <h1>[[accounts.name]] ([[accounts.name]])</h1>
            <h3>[[accounts.available_balance]]</h3>
          </div>

          <h5><a>[[accounts.opened_date]]</a></h5>
          <p><a>[[accounts.unpaid_accrued_interest]]</a></p>
        </li>
      </template>
  </ul>
  </template>

  <script>
    class AccountsList extends Polymer.Element {
      static get is() {
        return 'accounts-list';
      }

      static get properties() {
        return {
          accounts: {
            type: Array,
            value: []
          }
        };
      }

      connectedCallback() {
        super.connectedCallback();
      }

      _accountClicked(event) {
        const accounts = event.model.accounts;
        const detail = {
          id: accounts.id,
          name: this._cleanUserName(accounts.name)
        };

        this.dispatchEvent(new CustomEvent('account-selected', { detail }));
      }

      _cleanAccountsName(accountsName) {
        return accountsName.replace(/\s+/g, '-').toLowerCase();
      }
    }

    customElements.define(AccountsList.is, AccountsList);
  </script>
</dom-module>
