<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="login-form">

  <template>

    <style>
      li {
        cursor: pointer;
      }
    </style>

    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Login Bank Agile</h1>

        <div class="alert alert-danger"></div>

          <!-- LOGIN FORM -->
          <div class="container">
              <div class="form-group">
                  <label>Email</label>
                  <input type="text"
                         class="form-control"
                         name="usuario"
                         value= "usuario"
                         id="user">
              </div>
              <div class="form-group">
                  <label>Password</label>
                  <input type="password"
                         class="form-control"
                         name="password" value =
                         "password"
                         id="pass">
              </div>

              <button on-click="loginUsuario" class="btn btn-warning btn-lg">Login</button>
          </div>

          <hr>

          <p>Need an account? <a href="/signup">Signup</a></p>
          <p>Or go <a href="/">home</a>.</p>

          <div class="text-center">

  </template>

  <script>
    class LoginForm extends Polymer.Element {
      static get is() {
        return 'login-form';
      }

      static get properties() {
        return {
          username: {
            type: String,
            value: ''
          },
          password: {
            type: String,
            value: ''
          }
        };
      }

      //Se inicia cualdo se hace click en el formulario de usuario
      loginUsuario(){


        sessionStorage.setItem('isLogged', 'false')
        this.username = this.$.user.value;
        //this.password = require('crypto').createHash('sha1').update(this.$.pass.value).digest('base64');
        this.password = this.$.pass.value;
        console.log("1. iniciamos el proceso enviando a login.html el evento con los parametros de login");
        console.log("1.1 El email que obtenemos del formulario es: " + this.username);

        //debugger;
        this.dispatchEvent(new CustomEvent('loginInProgress',
                                           {detail:this.username}));
      }

      connectedCallback() {
        super.connectedCallback();
      }

    }


    customElements.define(LoginForm.is, LoginForm);
  </script>
</dom-module>
