<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="login-dm">
  <template>
    <style></style>

    <cells-generic-dp
      id="loginDP"
      host="[[host_param]]"
      path="[[path_param]]"
      method="[[method_param]]">
    </cells-generic-dp>

  </template>

  <script>
    class LoginDM extends Polymer.Element {
      static get is() {
        return 'login-dm';
      }

      //usuario y passwod se cumplimentan dinamicamente en el login-form.html y se informan en el login.html
      static get properties() {
        return {
          loaded: {
            type: Boolean,
            value: false
          },
          host_param: {
              type: String,
              value: '//my-techuroute-fdb-backendtu.193b.starter-ca-central-1.openshiftapps.com'},
              //value: '//127.0.0.1:3000'},
          path_param: {
              type: String,
              value: 'users'},
          method_param: {
              type: String,
              value: 'GET'},
            username: {
              type: String,
              value: ''},
            password: {
              type: String,
              value: ''}
          };
        };

      connectedCallback() {
        super.connectedCallback();

        //se habilita listener para informar del estado cada vez que se realiza una request
        this.addEventListener('request-success', e => this._loginLoaded(e));
      }

      disconnectedCallback() {
        super.disconnectedCallback();

        this.removeEventListener('request-success', this._loginLoaded);
      }

      loadLogin() {

        console.log("5. Solo si la variable local loaded no es verdadera (" + this.get('loaded') + ") Iniciamos el proceso a Mongo para verificar si el usuario o password son las correctas");
        //Si la variable local loaded está seteada no se vuelve a hacer la consulta
        if (this.get('loaded')) {
          return;
        }

        //Notifica al login.html que inicia la consulta de login
        console.log("6. iniciamos el spinner hasta fin de la consulta");
        this.dispatchEvent(new CustomEvent('login-loading-start', { detail: true }));

        console.log("7. realizamos la consulta a la API");
        //accede a Mongo para obtener los datos de la API
        this.$.loginDP.generateRequest();


      }


      _loginLoaded(event) {

        //Referenciamos la varible login con el el resultado del evento
        const login = event.detail;


        //se asocian los datos que ha devuelto el array de datos de la consutla
        console.log("8. Volcamos el resultado de la consulta a un array");
        this.set('login', Object.assign([], login));

        //se verifica si los mismos han traido datos

        for (var i = 0; i < login.message.length; i+=1) {
          console.log("En el índice '" + i + "' hay este valor: " + login.message[i].username);
          if (login.message[i].username === this.username) {
            console.log(this.password);
            console.log(login.message[i].password);
            console.log("9. Se ha localizado a  " + this.username + ".Al haber obtenido concurrencia activamos la variable de sesión.")
            // se activa la variable de session
            sessionStorage.setItem('isLogged', 'true');
            break;
          }
        }

        if (window.sessionStorage.getItem('isLogged')=='true'){

          console.log("10. Actualizamos la propiedad del DM informando que loaded es true");
          this.set('loaded', true);

          console.log("11. informamos del que hay finalizado el proceso de consulta. detail informado");
          this.dispatchEvent(new CustomEvent('login-loading-finish', { detail: login }));

        }

        //El caso contrario es que la consulta de usuarios no haya devuelto dato alguno
        else {

           // se desactiva la variable de session
           console.log("9. El array delvuelto tiene " + login.length + ".Al no haber obtenido concurrencia desactivamos la variable de sesión.");
           sessionStorage.setItem('isLogged', 'false');

           //se publica en el canal que los credenciales del usuario que se ha itentado autenticar son incorrectos
           console.log('10. Informamos a ' + this.username + "que sus credenciales son incorrectos.")
           Cells.Bus.channel('broadcast').publish('Los credenciales de ' + this.username + 'son incorrectos');

           console.log("12. informamos del que hay finalizado el proceso de consulta. sin exito");
           this.dispatchEvent(new CustomEvent('login-loading-unsuccessful', { detail: false }));



         }

      }
    }

    customElements.define(LoginDM.is, LoginDM);
  </script>
</dom-module>
