<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="./components/common/app-navigation-bar.html">

<!-- Bootstrap Core CSS -->
<!--<link href="/css/bootstrap.css" rel="stylesheet">-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<!-- Custom Fonts -->
<link href="../fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

<script src="./app.js"></script>

<script src="../node_modules/firebase/firebase-app.js"></script>
<script src="../node_modules/firebase/firebase-auth.js"></script>
<script src="../node_modules/firebase/firebase-database.js"></script>
<script src="../node_modules/firebase/firebase-messaging.js"></script>

<dom-module id="app-shell">
  <template>
    <style>

    </style>

    <app-navigation-bar id="navigationBar" title="[[title]]"></app-navigation-bar>
    <paper-toast id="toast" text="[[announce]]"></paper-toast>

    <div id="app__container"></div>
  </template>
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>

  <script>
    const ORIGINAL_TITLE = document.title;
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyAm13_kFXED5m25r2lJShflLfuMCN_W2Ys",
      authDomain: "techu-92d63.firebaseapp.com",
      databaseURL: "https://techu-92d63.firebaseio.com",
      projectId: "techu-92d63",
      storageBucket: "techu-92d63.appspot.com",
      messagingSenderId: "1096880903977"
    };
    firebase.initializeApp(config);

    class AppShell extends Polymer.Element {
      static get is() {
        return 'app-shell';
      }

      static get properties() {
        return {
          title: {
            type: String,
            value: 'PENDING...'
          },
          announce: {
            type: String,
            value: ''
          }
        };
      }

      connectedCallback() {
        super.connectedCallback();

        Cells.Bus.channel('transition').subscribe(this._updateProgressBar.bind(this));
        Cells.Bus.channel('page_title').subscribe(this._updateTitle.bind(this));
        Cells.Bus.channel('error').subscribe(this._handleAnnouncer.bind(this));
        Cells.Bus.channel('broadcast').subscribe(this._handleAnnouncer.bind(this));
      }

      _updateProgressBar(transition) {
        const state = transition.toLowerCase().indexOf('start') === -1 && transition.toLowerCase().indexOf('before') === -1;
        const updateUI = (fn) => this.$.navigationBar[fn]();

        if (state) {
          setTimeout(() => updateUI('hideProgressBar'), 750);
        } else {
          updateUI('showProgressBar');
        }
      }

      _updateTitle(title) {
        this.title = title.toUpperCase();
        document.title = `${this.title} - ${ORIGINAL_TITLE}`;
      }

      _handleAnnouncer(announce) {
        this.set('announce', announce);
        this.$.toast.open();
      }

    }

    window.customElements.define(AppShell.is, AppShell);
  </script>
</dom-module>
