<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/cells-molecule-spinner/cells-molecule-spinner.html">

<link rel="import" href="../components/accounts/accounts-list.html">
<link rel="import" href="../components/accounts/accounts-dm.html">

<dom-module id="accounts-page">
  <template>
    <style is="custom-style"></style>

    <h1>Accounts</h1>

    <accounts-dm
      id="accountsDM"
      on-accounts-loaded="AccountsLoaded"
      on-accounts-loading-start="startLoad"
      on-accounts-loading-finish="finishLoad">
    </accounts-dm>

    <accounts-list
      accounts="[[accounts]]"
      on-accounts-selected="navigateToAccounts">
    </accounts-list>

    <cells-molecule-spinner
      id="loader"
      hidden>
    </cells-molecule-spinner>

  </template>

  <script>
    class AccountsPage extends Polymer.Element {
      static get is() {
        return 'accounts-page';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {
          accounts: {
            type: Array,
            value: []
          }
        };
      }
      connectedCallback() {

            super.connectedCallback();

            this.$.accountsDM.loadAccounts();
          }

          accountsLoaded(e) {
            const accounts = e.detail;

            this.set('accounts', Object.assign([], accounts));
          }

          startLoad() {
            this.$.loader.removeAttribute('hidden');
          }

          finishLoad() {
            this.$.loader.setAttribute('hidden', true);
          }

          navigateToAccounts(e) {
            const detail = e.detail;
            const routeParams = {
              'account-id': detail.id,
              'account-name': detail.name
            };

            Cells.Router.navigate('products-accounts', routeParams);
          }
        }

        customElements.define(AccountsPage.is, AccountsPage);
      </script>
    </dom-module>
