<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="campus-tu">
  <template>
    <style is="custom-style"></style>

    <h1>This is campus.</h1>

  </template>

  <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

  <script>

    class CampusTu extends Polymer.Element {
      static get is() {
        return 'campus-tu';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {

        };
      }
    }

    customElements.define(CampusTu.is, CampusTu);

  </script>
</dom-module>
