<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="detail-accounts">
  <template>
    <style is="custom-style"></style>

    <h1>Accounts</h1>
  </template>

  <script>
    class DetailAccountsPage extends Polymer.Element {
      static get is() {
        return 'detail-accounts';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {

        };
      }
    }

    customElements.define(DetailAccounts.is, DetailAccounts);
  </script>
</dom-module>
