<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../../bower_components/google-map/google-map-directions.html">


<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">


<dom-module id="geolocation-page">
  <template is="dom-bind">
    <style is="custom-style">
    google-map {
      height: 300px;
    }
    paper-card {
      position: absolute;
      bottom: 25px;
      left: 25px;
      z-index: 1;
    }
    paper-tabs {
      --paper-tabs-selection-bar-color: #0D47A1;
      margin-top: 16px;
    }
    paper-tab {
      --paper-tab-ink: #BBDEFB;
    }

    /* Other styles that make things more pleasant.
       These could instead be added in styles.css since they
       do not use any Polymer styling features. */
    paper-tab iron-icon {
      margin-right: 10px;
    }
    paper-tab.iron-selected {
      background: rgb(66, 133, 244);
      color: white;
    }
    </style>

        <google-map
            latitude="40.52373351357442"
            longitude="-3.6302008000000114"
            fit-to-markers
            api-key="AIzaSyBfuodn0GdBFhJ50-HYFipxIT_scIddHyM"
            zoom="13"
            disable-default-ui
          >
          <google-map-directions
                start-address="40.500190, -3.663563"
                end-address="40.523759, -3.630203"
                api-key="AIzaSyBfuodn0GdBFhJ50-HYFipxIT_scIddHyM">
          </google-map-directions>
        </google-map>

        <paper-card elevation="2"> <!-- elevation controls the amount of box shadow -->
            <paper-icon-item>
            <iron-icon icon="search" item-icon></iron-icon>
            <paper-input label="Inicio" value="Ciudad BBVA"></paper-input>
          </paper-icon-item>
          <paper-icon-item>
            <iron-icon icon="search" item-icon></iron-icon>
            <paper-input label="Fin" value="Campus BBVA"></paper-input>
          </paper-icon-item>
        </paper-card>

  </template>

  <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

  <script>

    class GeolocationPage extends Polymer.Element {
      static get is() {
        return 'geolocation-page';
      }


      // Declare properties for the element's public API
      static get properties() {
        return {

        };
      }

    }

    customElements.define(GeolocationPage.is, GeolocationPage);

  </script>

</dom-module>
