
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/cells-molecule-spinner/cells-molecule-spinner.html">

<link rel="import" href="../components/login/login-form.html">
<link rel="import" href="../components/login/login-dm.html">


<dom-module id="login-page">
  <template>
    <style is="custom-style"></style>

    <login-dm
      id="loginDM"
      on-login-loading-start="startLoad"
      on-login-loading-finish="finishLoad"
      on-login-loading-unsuccessful="failedLoad">
    </login-dm>

    <login-form
      id="LoginForm">
    </login-form>

    <cells-molecule-spinner
      id="loader"
      hidden>
    </cells-molecule-spinner>
  </template>

  <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <script>
    class LoginPage extends Polymer.Element {
      static get is() {
        return 'login-page';
      }


      connectedCallback() {
        super.connectedCallback();

        //Habilitamos un listner para cuando se produzca click en el formulario de login
        this.$.LoginForm.addEventListener('loginInProgress',function(e){

            console.log("2. Recibimos del webcomponent el mensaje de login " + e.detail);
            Cells.Bus.channel('datoslogin').publish(e);

        });

        //Referenciamos el canal que hemos creado para el evento de login
        const loginChannel = Cells.Bus.channel('datoslogin');

        //Nos subscribimos al canal que hemos creado para el loginName
        loginChannel.subscribe(this._handleAnnouncer.bind(this));

      }

      //Cuando se hace click en el boton submito se arranca el proceso de verificación de login
      _handleAnnouncer(msg) {

        console.log("3. Asignamos las propiedades al loginDM ..REVISAR como recibir y enviar");
        //debugger;
        //informo las propiedades dinamicas que haya introducido en el formulario del loginName
        this.$.loginDM.username = this.$.LoginForm.username;
        this.$.loginDM.password = this.$.LoginForm.password;

        console.log("4. Invocamos al proceso LoadLogin dentro del DM");
        this.$.loginDM.loadLogin();

      };

      //En el inicio de la consulta de datos es cuando se muestra el spiner para dar sentido de proceso.
      //se inicia en el login-form.html justo antes de iniciar el generateRequest
      startLoad() {
        this.$.loader.removeAttribute('hidden');
      }

      //una vez ha finalizado la consulta es cuando se oculta de nuevo el spinner
      finishLoad() {
        //se publica en el canal que el usuario se ha autenticado
        console.log('12. Informamos a ' + this.$.loginDM.username  + " que se ha autenticado.")
        Cells.Bus.channel('broadcast').publish(this.$.loginDM.username + " se ha autenticado.");

        console.log("13. Ponemos fin a la ejecución del spiner");
        this.$.loader.setAttribute('hidden', true);

        console.log('14. Redireccionamos a la pagina donde están los contratos del cliente')
        //se redirecciona a la pagina donde el usuario tiene los contratos
        //Cells.Router.navigate('accounts', {
          Cells.Router.navigate('products', {
          'user-id': this.$.loginDM.username,
          'user-name': this.$.loginDM.username
        });




      }
      //una vez ha finalizado la consulta es cuando se oculta de nuevo el spinner
      failedLoad() {
        //se publica en el canal que el usuario se ha autenticado
        console.log('12. Informamos a ' + this.$.loginDM.username  + " que se sus credenciales son incorrectos.")
        Cells.Bus.channel('broadcast').publish(this.$.loginDM.username + " no se ha autenticado.");

        console.log("13. Ponemos fin a la ejecución del spiner");
        this.$.loader.setAttribute('hidden', true);

        console.log('14. Redireccionamos a la pagina de acceso restringido')
        //Se redirige al acceso restringido
        Cells.Router.navigate('restricted-access', {});
      }
    }

    customElements.define(LoginPage.is, LoginPage);
  </script>
</dom-module>
