<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="main-page">
  <template>
    <style is="custom-style">

    /* Portfolio */

    .portfolio {
        padding: 50px 0;
    }

    .portfolio-item {
        margin-bottom: 30px;
    }

    .img-portfolio {
        margin: 0 auto;
    }

    .img-portfolio:hover {
        opacity: .8;
    }


    /* Call to Action */

    .call-to-action {
        padding: 50px 0;
    }

    .call-to-action .btn {
        margin: 10px;
    }


    /* Map */

    .map {
        height: 500px;
    }

    @media(max-width:768px) {
        .map {
            height: 75%;
        }
    }

    .map iframe {
        pointer-events: none;
    }

    .text-vertical-center {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

    .text-vertical-center h1 {
        font-size: 4.5em;
        font-weight: 700;
        margin: 0;
        padding: 0;
    }

    /* Custom Button Styles */

    .btn-dark {
        color: #fff;
        border: none;
        border-radius: 0;
        background-color: rgba(0, 0, 0, .4);
    }

    .btn-dark:hover,
    .btn-dark:focus,
    .btn-dark:active {
        color: #fff;
        background-color: rgba(0, 0, 0, .7);
    }

    /* Header */

    .header {
        position: relative;
        display: table;
        width: 100%;
        height: 100%;
        background: url(../../images/bg.jpg) no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    /* Callout */

    .callout {
        display: table;
        width: 100%;
        height: 400px;
        color: #fff;
        background: url(../../images/callout.jpg) no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    </style>

    <!-- Header -->
    <header class="header" id="top">
      <div class="text-vertical-center">
        <h1>Banca Agile</h1>
        <h3>Un nuevo tipo de banca en la nube</h3>
        <br>
        <a href="/#/login" class="btn btn-dark btn-lg js-scroll-trigger">Acceda a nuestros servicios...</a>
      </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
      <div class="container text-center">
        <h2>Banca Agile es consecuencia del esfuerzo y dedicación que Felíx del Barrio ha realizado en la Tech University.</h2>
        <p class="lead">Puede acceder a más información, sobre Felix, en su perfil de
          <a target="_blank" href="https://es.linkedin.com/in/felixdelbarrio">Linkedin</a>.</p>
      </div>
      <!-- /.container -->
    </section>

    <!-- Services -->
    <section id="services" class="services bg-primary text-white">
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-10 mx-auto">
            <h2>Consultas frecuentes de nuestros clientes:</h2>
            <hr class="small">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <strong>Instalaciones</strong>
                  </h4>
                  <p>Les presentamos algunas de fotos de las instalaciones de CAMPUS.</p>
                  <a href="/#/carrousel" class="btn btn-light">Paseo virtual</a>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-compass fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <strong>Como llegar a Banca Agile</strong>
                  </h4>
                  <p>A escasos de la Ciudad BBVA...</p>
                  <a href="/#/geolocation" class="btn btn-light">Llegar desde la Vela</a>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-flask fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <strong>Darse de alta</strong>
                  </h4>
                  <p>Ser cliente de Bank Agile .</p>
                  <a href="/#/signup" class="btn btn-light">Hagase usuario</a>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-shield fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <strong>Opiniones de nuestros clientes</strong>
                  </h4>
                  <p>Opiniones de los clientes.</p>
                  <a href="/#/opiniones" class="btn btn-light">Opine y vea que opinan</a>
                </div>
              </div>
            </div>
            <!-- /.row (nested) -->
          </div>
          <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>

    <!-- Callout -->
    <aside class="callout">
      <div class="text-vertical-center">
        <h1>Ofrecemos banca de empresas y de particulares</h1>
      </div>
    </aside>

    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center">
            <h2>Software utilizado en Banca Agile</h2>
            <hr class="small">
            <div class="row">
              <div class="col-md-6">
                <div class="portfolio-item">
                  <a href="https://www.bbvaapimarket.com/login" target="_blank">
                    <img class="img-portfolio img-fluid" src="/images/API.png">
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="portfolio-item">
                  <a href="https://www.w3schools.com" target="_blank">
                    <img class="img-portfolio img-fluid" src="/images/HTML5_CSS_JavaScript.png">
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="portfolio-item">
                  <a href="https://www.polymer-project.org/" target="_blank">
                    <img class="img-portfolio img-fluid" src="/images/polymer_logo.png">
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="portfolio-item">
                  <a href="https://university.mongodb.com/" target="_blank">
                    <img class="img-portfolio img-fluid" src="/images/mongoDB-PostgreSQL-.png">
                  </a>
                </div>
              </div>
            </div>
            <!-- /.row (nested) -->
            <a href="https://bitbucket.org/account/user/fdbc/projects/PROYEC" class="btn btn-dark">Consulte nuestros fuentes.</a>
          </div>
          <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>

    <!-- Call to Action -->
    <aside class="call-to-action bg-primary text-white">
      <div class="container text-center">
        <h3>Otras opciones</h3>
        <a href="https://www.bbva.es/particulares/index.jsp"
           class="btn btn-lg btn-light"
           target="_blank">Otras bancas amigas</a>
        <a href="https://vimeo.com/user13099749"
           class="btn btn-lg btn-dark"
           target="_blank">Nuestro canal de Vimeo</a>
      </div>
    </aside>

    <!-- Map -->
    <section id="contact" class="map">
      <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3032.8080546720776!2d-3.632394849361914!3d40.52373347925152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422c4f2161f905%3A0xdf9832237bdcf24e!2sCampus+BBVA!5e0!3m2!1ses!2ses!4v1511017317393"></iframe>
      <br/>
      <small>
        <a href="https://www.google.es/maps/place/Campus+BBVA/@40.5237335,-3.6323948,17z/data=!3m1!4b1!4m5!3m4!1s0xd422c4f2161f905:0xdf9832237bdcf24e!8m2!3d40.5237335!4d-3.6302008?hl=es"></a>
      </small>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center">
            <h4>
              <strong>BBVA Tech University</strong>
            </h4>
            <p>Paseo del Conde de los Gaitanes, 45-51
              <br>28109 Alcobendas, Madrid</p>
            <ul class="list-unstyled">
              <li>
                <i class="fa fa-phone fa-fw"></i>
                (+34) 91-747 75 34</li>
              <li>
                <i class="fa fa-envelope-o fa-fw"></i>
                <a href="mailto:felix.delbarrio@bbva.com">felix.delbarrio@bbva.com</a>
              </li>
            </ul>
            <br>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="https://es-la.facebook.com/felix.del.barrio" target="_blank">
                  <i class="fa fa-facebook fa-fw fa-3x"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://twitter.com/futuatm" target="_blank">
                  <i class="fa fa-twitter fa-fw fa-3x"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://plus.google.com/u/0/+F%C3%A9lixDelBarrio" target="_blank">
                  <i class="fa fa-dribbble fa-fw fa-3x"></i>
                </a>
              </li>
            </ul>
            <hr class="small">
            <p class="text-muted">Copyright &copy; BBVA 2017</p>
          </div>
        </div>
      </div>
      <a id="to-top" href="#top" class="btn btn-dark btn-lg js-scroll-trigger">
        <i class="fa fa-chevron-up fa-fw fa-1x"></i>
      </a>
    </footer>

  </template>


<script>
  class MainPage extends Polymer.Element {
    static get is() {
      return 'main-page';
    }

    // Declare properties for the element's public API
    static get properties() {
      return {

      };
    }
  }

  customElements.define(MainPage.is, MainPage);
</script>
</dom-module>
