
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/cells-molecule-spinner/cells-molecule-spinner.html">

<link rel="import" href="../components/opiniones/opiniones-list.html">


<link rel="import" href="../components/opiniones/opiniones-dm.html">


<dom-module id="opiniones-page">
  <template>
    <style is="custom-style"></style>

    <opiniones-dm
      id="opinionesDM"
      on-opiniones-loaded="opinionesLoaded"
      on-opiniones-loading-start="startLoad"
      on-opiniones-loading-finish="finishLoad">
    </opiniones-dm>

    <opiniones-list
      opiniones="[[opiniones]]"
      on-opiniones-selected="navigateToOpiniones">
    </opiniones-list>

    <cells-molecule-spinner
      id="loader"
      hidden>
    </cells-molecule-spinner>
  </template>

  <script>
    class OpinionesPage extends Polymer.Element {
      static get is() {
        return 'opiniones-page';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {
          opiniones: {
            type: Array,
            value: []
          }
        };
      }

      connectedCallback() {
        super.connectedCallback();

        this.$.opinionesDM.loadOpiniones();
      }

      opinionesLoaded(e) {
        const opiniones = e.detail;

        this.set('opiniones', Object.assign([], opiniones));
      }

      startLoad() {
        this.$.loader.removeAttribute('hidden');
      }

      finishLoad() {
        this.$.loader.setAttribute('hidden', true);
      }

      navigateToOpiniones(e) {
        const detail = e.detail;
        const routeParams = {
          'opiniones-id': detail.id,
          'opiniones-name': detail.name
        };

        Cells.Router.navigate('opiniones-posts', routeParams);
      }
    }

    customElements.define(OpinionesPage.is, OpinionesPage);
  </script>
</dom-module>
