
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/cells-molecule-spinner/cells-molecule-spinner.html">
<link rel="import" href="../../bower_components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="revisar-page">
  <template>
    <style is="custom-style"></style>
    <h1>morhpheo is in</h1>

  </template>

  <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <script>
    class RevisarPage extends Polymer.Element {
      static get is() {
        return 'revisar-page';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {
          login: {
            type: Array,
            value: []
          }
        };
      }
    }


    customElements.define(RevisarPage.is, RevisarPage);
  </script>
</dom-module>
