
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/cells-molecule-spinner/cells-molecule-spinner.html">

<link rel="import" href="../components/sign/sign-form.html">
<link rel="import" href="../components/sign/sign-dm.html">

<dom-module id="signup-page">
  <template>
    <style is="custom-style"></style>

    <sign-dm
      id="signDM"
      on-sign-updating-start="startUpdating"
      on-sign-updating-finish="finishUpdating"
      on-sign-updating-unsuccessfull="failedUpdating">
    </sign-dm>

    <sign-form
      id="SignForm">
    </sign-form>

    <cells-molecule-spinner
      id="loader"
      hidden>
    </cells-molecule-spinner>

  </template>

  <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <script>
    class SignupPage extends Polymer.Element {
      static get is() {
        return 'signup-page';
      }


      connectedCallback() {
        super.connectedCallback();

        //Habilitamos un listner para cuando se produzca click en el formulario de login
        this.$.SignForm.addEventListener('signInProgress',function(e){

            console.log("2. Recibimos del webcomponent el mensaje de sign " + e.detail);
            Cells.Bus.channel('datosSignUp').publish(e);

        });

        //Referenciamos el canal que hemos creado para el evento de signup
        const signUpChannel = Cells.Bus.channel('datosSignUp');

        //Nos subscribimos al canal que hemos creado para el signup
        signUpChannel.subscribe(this._handleAnnouncer.bind(this));

      }

      //Cuando se hace click en el boton submito se arranca el proceso de verificación de login
      _handleAnnouncer(msg) {

        console.log("3. Asignamos las propiedades al signDM ");
        //debugger;
        //informo las propiedades dinamicas que haya introducido en el formulario del loginName
        this.$.signDM.username = this.$.SignForm.username;
        this.$.signDM.username = this.$.SignForm.password;

        console.log("4. Invocamos al proceso UpdateLogin dentro del DM");
        this.$.signDM.updateLogin();

      };

      //En el inicio de la consulta de datos es cuando se muestra el spiner para dar sentido de proceso.
      //se inicia en el login-form.html justo antes de iniciar el generateRequest
      startUpdating() {

        this.$.loader.removeAttribute('hidden');
      }


      //una vez ha finalizado la consulta es cuando se oculta de nuevo el spinner
      finishUpdating() {
        //se publica en el canal que el usuario se ha autenticado
        console.log('9. Informamos a ' + this.$.signDM.username  + " que se ha dado de alta.")
        Cells.Bus.channel('broadcast').publish(this.$.loginDM.username + "se ha dado de alta.");

        console.log("10. Ponemos fin a la ejecución del spiner");
        this.$.loader.setAttribute('hidden', true);
      }

      failedUpdating(){

        //se publica en el canal que el usuario se ha autenticado
        console.log('9. Informamos a ' + this.$.signDM.username  + " que se no se ha podido dar de alta.")
        Cells.Bus.channel('broadcast').publish(this.$.loginDM.username + "no se ha podido dar de alta.");

        console.log("10. Ponemos fin a la ejecución del spiner");
        this.$.loader.setAttribute('hidden', true);
      }
    }

    customElements.define(SignupPage.is, SignupPage);
  </script>
</dom-module>
