<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/cells-component-app-header/cells-component-app-header.html">
<link rel="import" href="../../../bower_components/paper-progress/paper-progress.html">
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<dom-module id="app-navigation-bar">


  <template>
    <style is="custom-style">
      paper-progress {
        width: 100%;
      }
    </style>

    <cells-component-app-header text=[[title]]
                                class="light">
    </cells-component-app-header>
    <paper-progress id="progress"
                    indeterminate hidden$=[[hiddenProgress]]>
    </paper-progress>

    <nav class="navbar navbar-light bg-light">
      <form class="form-inline">
        <button class="btn btn-default btn-sm glyphicon glyphicon-home"
                type="button"
                on-click="ir_Inicio">Inicio
        </button>
        <button class="btn btn-default btn-sm glyphicon glyphicon-chevron-left"
                type="button"
                on-click="ir_Atras">Atras
        </button>
      </form>
    </nav>


  <!--  <div class="container">
        <a href="/#"
          class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-home"></span> Inicio
        </a>
         <a href="javascript:window.history.back();"
          class="btn btn-default btn-sm">
           <span class="glyphicon glyphicon-chevron-left"></span> Anterior
         </a>
    </div>-->

  </template>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
    class AppNavigationBar extends Polymer.Element {
      static get is() {
        return 'app-navigation-bar';
      }

      static get properties() {
        return {
          title: {
            type: String,
            value: ''
          },
          hiddenProgress: {
            type: Boolean,
            value: true
          }
        };
      }


      ir_Inicio(){

        console.log("Ir a inicio solicitado");
        Cells.Router.navigate('main', {});

      }

      ir_Atras(){

        console.log("Ir a atras solicitado");
        window.history.back();

      }

      //Se inicia cualdo se hace click en el formulario de usuario
      showProgressBar() {
        this.set('hiddenProgress', false);
      }

      hideProgressBar() {
        this.set('hiddenProgress', true);
      }

    }

    customElements.define(AppNavigationBar.is, AppNavigationBar);
  </script>
</dom-module>
