<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="sign-dm">
  <template>
    <style></style>

    <cells-generic-dp
      id="SignDP"
      host="[[host_param]]"
      path="[[path_param]]"
      method="[[method_param]]"
      body='{"mail": [[username]],
             "username":[[username]],
             "password":[[password]],
             "admin": false}'>
    </cells-generic-dp>

  </template>

  <script>
    class SignDM extends Polymer.Element {
      static get is() {
        return 'sign-dm';
      }

      //usuario y passwod se cumplimentan dinamicamente en el sign-form.html y se informan en el singup.html
      static get properties() {
        return {
          signed: {
            type: Boolean,
            value: false
          },
          host_param: {
              type: String,
              value: '//my-techuroute-fdb-backendtu.193b.starter-ca-central-1.openshiftapps.com'},
              //value: '//127.0.0.1:3000'},
          path_param: {
              type: String,
              value: 'users'},
          method_param: {
              type: String,
              value: 'PUT'},
            username: {
              type: String,
              value: ''},
            password: {
              type: String,
              value: ''}
          };
        };

      connectedCallback() {
        super.connectedCallback();

        //se habilita listener para informar del estado cada vez que se realiza una request
        this.addEventListener('request-success', e => this._signUpdated(e));
      }

      disconnectedCallback() {
        super.disconnectedCallback();

        this.removeEventListener('request-success', this._signUpdated);
      }

      updateLogin(){

        console.log("5. Solo si la variable local updated no es verdadera (" + this.get('signed') + ") Iniciamos el proceso a Mongo para dar de alta el usuario y la password");
        //Si la variable loaded está seteada no se vuelve a hacer la consulta
        if (this.get('updated')) {
          return;
        }

        //Notifica al login.html que inicia la consulta de login
        console.log("6. iniciamos el spinner hasta fin de la actualizacion");
        this.dispatchEvent(new CustomEvent('sign-updating-start', { detail: true }));

        console.log("7. realizamos la actualizacion mediante la API");
        //accede a Mongo para obtener los datos de la API

        this.$.SignDP.generateRequest();
      }

      _signUpdated(event) {

        //Referenciamos la varible login con el el resultado del evento
        const sign = event.detail;

        //se asocian los datos que ha devuelto el array de datos de la consutla
        console.log("8. Volcamos el resultado de la actualización a un array");
        this.set('sign', Object.assign([], sign));

        //se verifica si los mismos han traido datos
        if (sign.length != 0 || sign.length != undefined){

          console.log("9. El array delvuelto tiene " + sign.length + ".Al haber obtenido concurrencia activamos la variable de sesión.")

          console.log("11. actualizamos la propiedad local que registra si hemos dado de alta algún usuario");
          this.set('signed', true);

          console.log("12. informamos del que hay finalizado el proceso de alta. detail informado");
          this.dispatchEvent(new CustomEvent('sign-updating-finish', { detail: sign }));

        }

        //El caso contrario es que la consulta de usuarios no haya devuelto dato alguno
        else {

          console.log("12. informamos del que hay finalizado el proceso de alta. detail informado");
          this.dispatchEvent(new CustomEvent('sign-updating-unsuccessfull', { detail: false }));


         }
         console.log('13. Redireccionamos a la pagina de inicio')
         //se redirecciona a la pagina donde el usuario tiene los contratos
         Cells.Router.navigate('main', {});

      }
    }

    customElements.define(SignDM.is, SignDM);
  </script>
</dom-module>
