<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="sign-form">

  <template>

    <style>
      li {
        cursor: pointer;
      }
    </style>

    <div class="container">

      <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-sign-in"></span> Signup en Bank Agile</h1>

        <!-- SIGN FORM -->

            <div class="form-group">
              <label>Email</label>
              <input type="text"
                     class="form-control"
                     name="usuario"
                     value= "usuario"
                     id="user">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password"
                       class="form-control"
                       name="password" value =
                       "password"
                       id="pass">
            </div>

            <button on-click="SignUsuario" class="btn btn-warning btn-lg">Signup</button>

        <hr>

        <p>¿Ya tenías una cuenta? <a href="/login">Login</a></p>
      </div>
    </div>

  </template>

  <script>
    class SignForm extends Polymer.Element {
      static get is() {
        return 'sign-form';
      }

      static get properties() {
        return {
          username: {
            type: String,
            value: ''
          },
          password: {
            type: String,
            value: ''
          }
        };
      }

      //Se inicia cualdo se hace click en el formulario de usuario
      SignUsuario(){

        this.username = this.$.user.value;
        this.password = this.$.pass.value;
        console.log("1. iniciamos el proceso enviando a signup.html el evento con los parametros de alta");
        console.log("1.1 El email que obtenemos del formulario es: " + this.username);

        //debugger;
        this.dispatchEvent(new CustomEvent('signInProgress',
                                           {detail:this.username}));
      }

      connectedCallback() {
        super.connectedCallback();
      }

      _SignClicked(event) {
        const sign = event.model.sign;
        const detail = {
          id: sign.id,
          name: this._cleanLoginName(sign.username)
        };

        this.dispatchEvent(new CustomEvent('sign-selected', { detail }));
      }

      _cleanLoginName(signName) {
        return signName.replace(/\s+/g, '-').toLowerCase();
      }

    }

    customElements.define(SignForm.is, SignForm);
  </script>
</dom-module>
